* {
  margin: 0;
}
.App {
  text-align: center;
  background-color: black;
  height: 200vh;
  width: 100vw;
}

#title {
  color: lime;
  font-family: "Press Start 2P";
  padding: 21px;
  background-color: black;
}
