#pacman {
  width: 0px;
  height: 0px;
  border-right: 60px solid transparent;
  border-top: 60px solid yellow;
  border-left: 60px solid yellow;
  border-bottom: 60px solid yellow;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  z-index: 1000;
}

#eye {
  margin-top: -35%;
  margin-left: -9%;
}

#noteBox {
  background-color: magenta;
}

#list {
  width: 10%;
  display: grid;
  grid-template-columns: repeat(3);
  margin-bottom: 1rem;
}
