#noteBox {
  list-style: none;
  padding: 2rem;
  background-color: black;
  height: 250px;
  width: 250px;
  border-radius: 100%;
  position: relative;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border: solid lime;
}

#pacman {
  width: 2px;
  height: 2px;
  border-right: 60px solid transparent;
  border-top: 60px solid yellow;
  border-left: 60px solid yellow;
  border-bottom: 60px solid yellow;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  margin-top: -5%;
  margin-left: 27%;
  background-color: black;
}

#delete-button {
  position: absolute;
  top: 50px;
  right: 70px;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  background-color: black;
}

#checkbox {
  position: absolute;
  top: 45px;
  left: 75px;
  border-radius: 50px;
  cursor: pointer;
}

#h3 {
  font-family: monospace;
  font-size: 20px;
  width: 85%;
  word-wrap: break-word;
  position: absolute;
  text-align: center;
  color: white;
  background-color: black;
  top: 61%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#ghost {
  font-size: 40px;
  transition-duration: 10ms;
}

#ghost:hover {
  color: #00008b;
  font-size: 40px;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

#dots {
  position: absolute;
  border: none;
  bottom: 3%;
  left: 45%;
  color: yellow;
  background-color: black;
  font-size: 60px;
  transform: rotate(90deg);
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
